<style>
	.completed {
		text-decoration: line-through;
	}
</style>

<!-- The Modal -->
<div id="mdlTimer" class="w3-modal">
	<div class="w3-modal-content">
		<div class="w3-container">
			<span onclick="document.getElementById('mdlTimer').style.display='none'" class="w3-button w3-display-topright">&times;</span>
			Start/Stop timer<button class="btnToggleTimer"><i class="fa fa-clock-o"></i></button>
			<label>Show times</label><input type="checkbox" id="chkShowTimes"/>
			<input type="hidden" id="timeelapsed" value="0"/>
			<input type="hidden" id="taskid"/>
			<p>Time allocated: <label id="lblTimeallocated"></label></p>
			<p>Time elapsed: <label id="lblTimeelapsed"></label></p>
		</div>
	</div>
</div>

<div class="w3-container">
	<div class="w3-card-4 w3-white">
		<div class="w3-row" id="parentheader" style="display:none"><label id="header"></label><button id="btnUpLevel"><i class="fa fa-level-up"></i></button></div>
		<div class="w3-row w3-large w3-border-bottom w3-border-blue">
			<div class="w3-col m1 l1 s1 w3-border-right w3-border-red w3-margin-left ">
				<input id="selectall" type="checkbox"/>
			</div>
			<div class="w3-col w3-col m8 s8 l8 w3-margin-left">
				<input placeholder="New task" style="width:100%; height:20px" id="newtask" onchange="viewsTasksAddTask();"/>
			</div>
			<input type="hidden" id="parent"/>
		</div>
		<div id="lstTasks">
			<div class="w3-row w3-border-bottom w3-border-blue" id="tmplTask">
				<input type="hidden" id="_id"/>
				<div class="w3-col m1 l1 s1 w3-border-right w3-border-red w3-margin-left">
					<input class="togglecompleted" type="checkbox"/>
				</div>
			    <div class="editlabel w3-col m8 s6 l8 w3-margin-left">
			        <label id="name">Placeholder</label>
			        <input id="namefield" class="namefield" style="width: 100%; display:none" />
			    </div>
				<div class="w3-col m2 s3">
					<button class="btnDelete"><i class="fa fa-trash"></i></button>
					<button class="btnSubtask"><i class="fa fa-navicon"></i></button>
					<button class="btnTimer"><i class="fa fa-clock-o"></i></button>
					<label class="lblTimeelapsed" style="display:none">0:00</label>
					<input type="hidden" class="timeelapsed" value="0"/>					
				</div>
			</div>
		</div>
	</div>
</div>
